*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
title{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
.navbar{
    display: block;
    background-color: #F5F5F5;
    color:black;
    border-bottom: 0.1em dotted black;
    width: 100%;
    line-height: 1em;
    height: 4em;
    font-size: medium;
    padding: 0 1em;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Ubuntu', sans-serif;
}
.navbar a{
    text-decoration: none;
    color:black;
}
.navbar a.navlogo{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 1em;
    font-size: large;
    letter-spacing: 0.25em;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
.navbar ul{
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 1em;
    float: right;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 4em;
    padding: 0 1em;
}
.navbar ul li a:hover{
    background-color: #90CAF9;
}
body{
    background-color: #F5F5F5;
    width: 100%;
}
.content{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F5F5F5;
    color: black;
    margin-top: 25%;
    margin-left: 10%;
}
.project{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F5F5F5;
    color: black;
    margin-top: 15%;
    margin-left: 10%;
}
.projecttwo{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F5F5F5;
    color: black;
    margin-top: 15%;
    margin-left: 10%;
}
h1{
    font-size: xx-large;
    color: black;
    font-weight: bold;
}
h2{
    font-size: medium;
    color: black;
}
p{
    margin-top:5%;
    background-color: #F5F5F5;
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F5F5F5;
}
.btns{
    margin-top: 30px;
    background: #E0E0E0;
    cursor: pointer;
    color: black;
    padding: 5px 20px;
    float: center;
    border: 0;
    border-radius: 5px;
}
.btns:hover{
    background: #90CAF9;
}
img{
    margin-top: 60px;
    float: right;
    width: 70%;
    filter: grayscale(1);
    opacity: 0.5;
}
img:hover{
    filter:grayscale(0);
    opacity: 1;
    transition: 3s;
    cursor: pointer;
}
.imgcontent{
    margin-top: 0px;
    float: left;
    width: 70%;
    filter: grayscale(1);
    opacity: 1;
}
.imgcontent:hover{
    filter:grayscale(0);
    transition: 1s;
    cursor: pointer;
}
.footer{
    margin-top: 5%;
    float: right;
    height: inherit;
    line-height: inherit;
    padding: 0 10%;
    font-size: xx-small;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
