*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
title{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
.navbar{
    background-color: #F5F5F5;
    color:black;
    border-bottom: 0.5px dotted black;
    width: 100%;
    line-height: 80px;
    height: 10%;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Ubuntu', sans-serif;
}
.navbar a{
    text-decoration: none;
    color:black;
}
.navbar a.navlogo{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: large;
    letter-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 7.5%;
    padding: 0 30px;
}
.navbar ul li a:hover{
    background-color: #90CAF9;
}
body{
    background-color: #F5F5F5;
}
.content{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F5F5F5;
    color: black;
    margin-top: 30%;
    margin-left: 10%;
}
.project{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F5F5F5;
    color: black;
    margin-top: 20%;
    margin-left: 15%;
}
.projecttwo{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F5F5F5;
    color: black;
    margin-top: 30%;
    margin-left: 15%;
}
h1{
    font-size: xx-large;
    color: black;
}
h2{
    font-size: medium;
    color: black;
}
p{
    margin-top:5%;
    background-color: #F5F5F5;
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F5F5F5;
}
.btns{
    margin-top: 7.5%;
    background: #E0E0E0;
    cursor: pointer;
    color: black;
    padding: 12px 20px;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-left: 10px;
}
.btns:hover{
    background: #90CAF9;
}
img{
    margin-top: 80px;
    float: right;
    width: 70%;
    filter: grayscale(1);
    opacity: 0.5;
}
img:hover{
    filter:grayscale(0);
    opacity: 1;
    transition: 3s;
    cursor: pointer;
}
.imgcontent{
    margin-top: 0px;
    margin-left: 0px;
    width: 50%;
    filter: grayscale(1);
    opacity: 1;
}
.imgcontent:hover{
    filter:grayscale(0);
    transition: 1s;
    cursor: pointer;
}
.footer{
    margin-top: 30px;
    float: right;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: xx-small;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
